.pagination {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    margin-top: 1em;
}

.button {
    margin: 0 0.5em;
    padding: .5em 1em;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.active-button {
    background-color: lightgray;
}

@media (max-width: 768px) {
    .button {
        padding: .5em .75em;
        font-size: .8em;
    }
}